* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    font-size: 16px;
}


.vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100vw;
}

.card {
    background: #808080;
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
    padding: 7px 15px;
    width: 100vw;
    height: auto;
}
