html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Raleway', sans-serif;
}

/**** heading bar styling ****/
#heading {
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    text-align: center;
    line-height: 10vh;
}

#heading a {
    text-decoration: none;
    color: white;
}

.headingBar {
    height: 10vh;
    width: 100vw;
    background: black;
}
/*****************************/

/********** side bar styling ***********/
.sideBar ul li {
    padding: 5px 10px;
    font-size: 32px;
}

.sideBar ul li a {
    color: white;
    text-decoration: none;
}

.sideBar {
    position: fixed;
    top: 0;
    left: -75%;
    color: white;
    background: black;
    width: 75%;
    height: 100vh;
    transition: left .3s;
    z-index: 1;
}

#sideBarBtn {
    position: absolute;
    top: 7px;
    right: -25px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

#sideBarBtn span {
    display: block;
    width: 40px;
    height: 5px;
    background: grey;
    position: absolute;
    top: 24px;
}

#sideBarBtn span:before {
    content: '';
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    height: 5px;
    background: grey;
}

#sideBarBtn span:after {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 5px;
    background: grey;
}

.active {
    left: 0px;
}

#userName {
    background: #333333;
    border-radius: 7px;
    font-size: 2rem;
    text-align: center;
    padding: 5px 0px;
    margin-top: 10vh;
}

#userDetails {
    background: #333333;
    border-radius: 7px;
    font-size: 1rem;
    padding: 10px;
    min-height: 15vh;
}
/***************************************/