.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid black;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 70%;
  position: absolute;
  top: 15%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.locationList {
  margin-top: 60px;
  overflow: auto;
}

.locationList ul li {
  border-bottom: 1px solid #DDD;
  padding: 10px;
  font-family: "PT sans";
  font-size: 1.1rem;
  color: #666666;
}

.selected {
  background: #e6e6e6;
}