html {
  width: 100%;
}

/******** main page buttons ********/
#startBtn {
    width: 75vw;
    height: 75vw;
    margin: 50px auto;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

#startBtn:active {
    background: rgba(0,0,0,0.6);
}

#startBtn p {
    font-size: 4rem;
    font-weight: 800;
    line-height: 75vw;
    color: white;
    text-align: center;
}

#otherBtns {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;  
}

#otherBtns ::-webkit-scrollbar {
  display: none;
}

#otherBtns ::-webkit-scrollbar-button {
  display: none;
}

.otherBtn button {
  min-width: 33.3vw;
  height: 20vh;
  line-height: 20vh;  
  background: black;
  border: 1px solid white;
  color: white;
  font-size: 1.8rem;
}
/***********************************/

/***** sign up & sign in forms *****/
.modal h1 {
    font-size: 1.5rem;
}

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px inset grey;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #e6e6e6;
  outline: none;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelBtn, #signUpBtn, #signInBtn {
  background-color: black;
  background-image: -webkit-linear-gradient(top, #bfbfbf, #8c8c8c);
  border: none;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px 1px #64799e;
  text-transform: uppercase;
  width: 100%;
  height: 35px;
  margin: 5px auto;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  padding: 16px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelBtn, .signupbtn {
    width: 100%;
  }
}